{% extends "learning_logs/base.html" %}

{% block page_header %}
  <div class="jumbotron">
    <h1 class="display-3">Track your learning.</h1>
    <p class="lead">Human brains are naturally made to forgot, so make your own Learning Log, and keep a list of the
        topics you're learning about. Whenever you learn something new
        about a topic, make an entry summarizing what you've learned.
    It helps you keep track of your progress and accomplishments. By regularly reviewing and updating your learning log, you can see how far you've come and what you've accomplished.</p>
    <a class="btn btn-lg btn-primary" href="{% url 'users:register' %}"
       role="button">Register &raquo;</a>
  </div>
{% endblock page_header %}

